<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Population</title>
    <link rel="stylesheet" href = "static/style.css">
    <script src="static/data.js"></script>

</head>
<body>
    <section class = "header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="why">OUR WHY</a></li>
                    <li><a href="trynow?reset=true">TRY NOW</a></li>
                </ul>
            </div>
        </nav>


    
    <div class="our-why temp">
        <h1>About our data</h1>
        <p>
            The data provided in the table represents the population counts for different geographic areas in the United States. It includes a wide range of information about the people living in these areas, such as their race.

            <br><br>The geographic areas covered in the data include the entire nation and individual states which consists of counties, cities, towns, townships, and other smaller subdivisions. This allows us to understand the population distribution at various levels of detail.

            <br><br>The data breaks down the population by different racial categories, including White, Black or African American, American Indian or Natiave American and Alaska Native, Asian, Native Hawaiian and Other Pacific Islander and some "Other" Races (accounted for in other category). With this racial categories given, the dataset provide a count of a persons' combination of one, two or three races. This gives us insights into the diversity of the population across different racial backgrounds.

            <br><br>In summary, this data provides valuable information about the population in the United States and its different geographic areas. It helps researchers, policymakers, and others interested in understanding population patterns and characteristics in the country.

            <br><br>Some of the actions and data that can be retrieved include:

        </p>
        
        <div class="row">
          <div class="column">
            <h2>Fun Facts</h2>
            <p>
                In 2020, the total US population reached approximately 331 million, indicating a 7.4% increase since 2010. 
                Among the various racial groups, the Asian population experienced the highest growth rate, with a remarkable 35.5% increase compared to 2010. 
                Additionally, the number of individuals identifying as multiracial witnessed a significant surge of 276%, reflecting a growing trend in mixed-race identities. 
                African Americans constituted 13.4% of the population in both 2010 and 2020, maintaining a consistent proportion. The Native Hawaiian and Other Pacific Islander 
                population grew by 28.4% since 2010, while the American Indian and Alaska Native population increased by 2.9% from 2010 to 2020. Furthermore, the median age of 
                the Asian population was 37.9 years, reflecting a younger demographic compared to Whites.
            </p>
          </div>
          
          <div class="column">
            <h2>Dataset</h2>
            <p>Obtain the total national or state population of a specfic race or the US as a whole<br>
            Obtain the size difference between two populations in the same year<br> 
            Obtain the size difference of a population in 2010 to 2020<br>
            Obtain a list of states arranged from highest population to lowest (or vice-versa) of a specfic race or the US as a whole<br>
            Obtain a list of the population of races in a state arranged from highest population to lowest (or vice-versa)</p>
          </div>
          
          <div class="column">
            <h2>Data Source</h2>
                    <p>Main: <a href="https://data.census.gov" target = "_blank">United States Census data</a></p>
                    <p>Data retrieved from 2020:<a href="https://data.census.gov/table?tid=DECENNIALPL2020.P1" target = "_blank">"Spreadsheet Format"</a> on 27 March 2023.</p>
                    <p>Data retrieved from 2010:<a href="https://data.census.gov/table?tid=DECENNIALPL2010.P1" target = "_blank">"Spreadsheet Format"</a> on 27 March 2023.</p>
                    <p>Note: This count has been revised. 
                        Revised count: 4,779,753 
                        Revision date: 08-16-2013</p>
                    <p><a href="https://www.census.gov/data/developers/about/terms-of-service.html#:~:text=Federal%20law%20%5B13%20U.S.C.,to%20a%20Census%20Bureau%20survey." target = "_blank">Data usage policy</a></p>
          </div>
        </div>
</body>
</html>