<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Population</title>
    <link rel="stylesheet" href = "static/style.css">
</head>
<body>
    <section class = "header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="why">OUR WHY</a></li>
                    <li><a href="trynow?reset=true">TRY NOW</a></li>
                </ul>
            </div>
        </nav>

        <div class="our-why">
            <h1>
                Get Started
            </h1>
            <h2>Welcome to the US Race Population Data Manipulation Field! What follows are prompts for whatever information you are looking for.</h2>
            <p>Select what data you want to look at</p>
            <a href="national_total" class="hero-btn">Race or Total population of the US</a>
            <a href="race_population" class="hero-btn">Race or Total population of a State</a>
            <a href="compare_same_year" class="hero-btn">Compare Race population of two States in the same year</a>
            <a href="compare_diff_year" class="hero-btn">Compare Race population of two States in different years</a>
            <a href="filter_dataset" class="hero-btn"> Filter Race population of States and Race Populations</a>
        </div>
</body>
</html> 