<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Population</title>
    <link rel="stylesheet" href = "static/style.css">
</head>
<body>
    <section class = "header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="why">OUR WHY</a></li>
                    <li><a href="trynow?reset=true">TRY NOW</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>United States Population Data</h1>
            <p> Get information about the decennial population of various race groups within the US from 2010 and 2020. The US population is composed of various races and in this dataset you will be able to retrieve the races in the nation or each state <br><br>Compare or Rank the race dataset down below</p>
            <a href="about" class="hero-btn custom">Learn More</a>
            <a href="trynow?reset=true" class="hero-btn custom">Get Started</a>
        </div>
    </section>
</body>
</html> 