<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Population</title>
    <link rel="stylesheet" href = "static/style.css">
</head>
<body>
    <section class = "header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="why">OUR WHY</a></li>
                    <li><a href="trynow">TRY NOW</a></li>
                </ul>
            </div>
        </nav>
        <div class="our-why">
            <h1>Why US Race Data?</h1>
            <p class="our-why-text">
                <br><br> The choice of the USA race population data set for our project stems from a deep curiosity and a desire to better understand the diverse fabric of our nation. The subject of race and ethnicity is of profound importance and relevance in today's society, and we believe that exploring this data set can provide valuable insights into the dynamics and distribution of different racial groups across the United States.
    
                <br><br> For some of us, personal experiences have sparked a keen interest in this topic. Growing up in culturally diverse neighborhoods and attending schools with students from various backgrounds, we have witnessed firsthand the richness and complexities that arise from a multicultural society. Our personal encounters with people from different racial and ethnic backgrounds have inspired us to delve deeper into the statistics and demographics that underpin the racial makeup of the United States.
    
                <br><br> Additionally, we recognize the significance of studying race population data as a means to address important societal issues such as representation, equity, and social justice. By analyzing this data set, we aim to uncover patterns and disparities that may exist among different racial groups across states and regions. This understanding can help shed light on systemic inequities, inform policy discussions, and contribute to fostering a more inclusive and equitable society.
    
                <br><br>From an academic standpoint, the USA race population data provides a wealth of information for various analytical and visualization techniques. It offers an opportunity to explore statistical methods, create informative visualizations, and develop models that can help predict and understand the factors influencing racial demographics. Moreover, the data set allows us to practice data manipulation, cleansing, and normalization techniques, which are crucial skills in the field of data analysis.
    
                <br><br>In summary, the choice to work with the USA race population data set is driven by our curiosity, the importance of the topic in contemporary society, and the educational value it holds for our group. We are excited to embark on this journey of exploration and analysis, aiming to gain a deeper understanding of the racial composition of the United States and its implications for our society as a whole.
            </p>
        </div>
    </section>
</body>
</html> 